#collapsethree .accordion-body a {
    display: none;
}

@media screen and (max-width= 768px){
    #collapsethree .accordion-body a {
        display: block;
}
    #collapsethree .accordion-body iframe {
    display: none;
}
}

.container_carrusel{
    width: 600px;
    height: auto;
}